PORT=3000
MAILER_EMAIL=
MAILER_SECRET_KEY=
MAILER_SERVICE=
MONGO_URL="mongodb://fernando:123456@localhost:27017"
MONGO_DB_NAME="NOC"
MONGO_USER="fernando"
MONGO_PASSWORD="campera"
POSTGRES_URL="postgresql://postgres:123456@localhost/NOC"
POSTGRES_USER="postgres"
POSTGRES_DB="NOC"
POSTGRES_PASSWORD="123456"
PROD=false